pipeline/blob-to-fileshare-not-same-file.json
{
	"name": "blob-to-fileshare-not-same-file",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary_dataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "iterate blob item",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata blob').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata file share",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "fileshare_dataset1",
									"type": "DatasetReference"
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureFileStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "check if file exits in file share",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "set fileshare list",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(variables('filesharelist'),string(item()))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Alert file exist_copy1",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": "https://logicapp00alert.azurewebsites.net:443/api/alert-file-exist/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ql5yI0hYNhrUFQlOmq1lBBICdb7yxw0E91WACgw9Lik",
											"method": "POST",
											"headers": {
												"Content-Type": "application/json"
											},
											"body": {
												"value": "{\n\"file\": \"@variables('bloblist')\"\n}",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Alert file exist",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": "https://logicapp00alert.azurewebsites.net:443/api/alert-file-exist/triggers/manual/invoke?api-version=2020-05-01-preview&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ql5yI0hYNhrUFQlOmq1lBBICdb7yxw0E91WACgw9Lik",
											"method": "POST",
											"body": {
												"value": "{\n\"file\" : @variables('bloblist')\n}",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "set fileshare list",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Metadata file share",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "filesharelist",
								"value": {
									"value": "@activity('Get Metadata file share').output.childitems",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"filesharelist": {
				"type": "Array"
			},
			"bloblist": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}